server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://db:5432/transportdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
  properties:
    hibernate:
      format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER:http://keycloak:8080/realms/transport-tpi}

logging:
level:
root: INFO